.icotam {
    font-size: 80px !important;
    color: #337ab7 !important;
}

.titlecol {
    color: rgba(255, 255, 255, 0.712) !important;
    font-size: 90px !important;
}

.titlehg {
    color: #337ab7 !important;
}

.ir-arriba{
    display:flex;
    background-repeat:no-repeat;
    font-size:20px;
    color:black;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
    float: right;
    
  }