.icotam {
    font-size: 80px !important;
    color: #337ab7 !important;
}

.titlecol {
    color: rgba(255, 255, 255, 0.712) !important;
    font-size: 90px !important;
}

.titlehg {
    color: #337ab7 !important;
}

.ir-arriba{
    display: none;
    background-repeat:no-repeat;
    font-size:30px;
    color: #337ab7;
    cursor:pointer;
    position:fixed;
    bottom:40px;
    right:10px;
    z-index:2;
    float: right;
    
  }

 /* .ir-arriba:hover {
     background-color: #23527c
 } */
 
 .team_img-box {
     font-size: small !important;
 }
 
