.icotam {
    font-size: 80px !important;
    color: #337ab7 !important;
}

.titlecol {
    color: rgba(255, 255, 255, 0.712) !important;
}

.titlehg {
    color: #337ab7 !important;
}

.ir-arriba{
    display: none;
    background-repeat:no-repeat;
    font-size:30px;
    color: #337ab7 !important;
    cursor:pointer;
    position:fixed;
    bottom:40px;
    right:10px;
    z-index:2;
    float: right;
    
  }
 
 .team_img-box {
     font-size: small !important;
 }

 @media (max-width: 1199.98px)
.navbar {
    background-color: transparent !important
}